.row{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.posters::-webkit-scrollbar{
    display: none;
}

.main-poster{
    max-height: 250px;
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
}

.poster{
    max-height: 120px;
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
}

.poster:hover{
    scale: 1.08;
}

.main-poster:hover{
    scale: 1.03;
}