.row{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.posters::-webkit-scrollbar{
    display: none;
}

.main-poster{
    max-height: 250px;
    margin-right: 10px;
    transition: 0.15s;
    cursor: pointer;
    border-radius: 10px;
}

.poster{
    max-height: 120px;
    margin-right: 10px;
    transition: 0.15s;
    cursor: pointer;
    border-radius: 10px;
}

.poster:hover{
    scale: 1.05;
}

.main-poster:hover{
    scale: 1.03;
}

.stream{
    height: 100vh;
    width: 100%;
    z-index: 2;
    width: 100%;
    height: 100vh;
}

.stream .video{
    height:380px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 8px #000000;
}

@media screen and (max-width:786px){
    .stream .video{
        width: 100%;
    }
}

@media screen and (min-width:786px) {
    .stream .video{
        width: 60%;
    }
}

.close-btn{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 26px;
    color: red;
}

.movie-title{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,-10%);
    opacity: 0.7;
}